---
layout: default
---

{% include header.html %}

<!-- Title Section -->
<section class="container title-section">

  <h1>
    <span>A</span>
    <span>j</span>
    <span>a</span>
    <span>r</span>
    <span>a</span>
    <span>t</span>
    <span>.</span>
    <span>i</span>
    <span>o</span>
  </h1>
  <h2>The portfolio of Morgan Jeffrey</h2>
  <button><i class="i-download-o"></i> My Resume</button>

</section>

<!-- Description Section -->
<section class="container description-section">

  <h3>I am a <span>Web Designer</span> and <span>UI Developer</span></h3>
  <p>Self-taught with 10+ years in the industry. Passionate about creating clean, vibrant, and user-friendly websites.</p>

</section>

<!-- Skills Section -->
<section class="container skills-section">

  <h3>I am a <span>Web Designer</span> and <span>UI Developer</span></h3>
  <p>Self-taught with 10+ years in the industry. Passionate about creating clean, vibrant, and user-friendly websites.</p>

</section>

{% include footer.html %}

<!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->