---
layout: default
---

{% include header.html %}

<div class="resume">

  <!-- Title Section -->
  <section class="container-fluid title-section">
    
    <div class="row">
      <div class="twelve columns">
        <h1>
          <span>a</span>
          <span>j</span>
          <span>a</span>
          <span>r</span>
          <span>a</span>
          <span>t</span>
          <span>.</span>
          <span>i</span>
          <span>o</span>
        </h1>
        <h2>The portfolio of Morgan Jeffrey</h2>
        <a href="/assets/img/mjeffrey-resume-2016.pdf" class="button" target="_blank"><i class="i-download-o"></i> My Resume</a>
      </div>
    </div>

  </section>

  <!-- Description Section -->
  <section class="container-fluid description-section">

    <h3>I am a <span>Web Designer</span> and <span>UI Developer</span></h3>
    <p>Self-taught with 10+ years in the industry. Passionate about creating clean, vibrant, and user-friendly websites.</p>

  </section>

  <!-- Skills Section -->
  <section class="container-fluid skills-section">

    <div class="row">
      <div class="twelve columns">
        <h3>mad <span>Skills</span></h3>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns">
        {% include sass.svg %}
        <h4>CSS <span>/</span> Sass</h4>
      </div>
      <div class="one-half four columns">
        <i class="i-html5"></i>
        <h5>HTML</h5>
      </div>
      <div class="one-half four columns">
        {% include iphone.svg %}
        <h5>Responsive Design</h5>
      </div>
    </div>
    
    <div class="row">
      <div class="twelve columns">
        <ul class="list-inline">
          <li><h6>Git</h6></li>
          <li><h6>Bootstrap</h6></li>
          <li><h6>Foundation</h6></li>
          <li><h6>UX Design</h6></li>
          <li><h6>Art Direction</h6></li>
          <li><h6>Sketch</h6></li>
          <li><h6>Illustrator</h6></li>
          <li><h6>Photoshop</h6></li>
          <li><h6>Illustration</h6></li>
          <li><h6>Graphic Design</h6></li>
          <li><h6>Branding</h6></li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="twelve columns">
        <p>Working on some:</p>
        <ul class="list-inline">
          <li><h6>Angular</h6></li>
          <li><h6>JavaScript</h6></li>
          <li><h6>jQuery</h6></li>
        </ul>
      </div>
    </div>

  </section>

  <!-- Job Section -->
  <section class="container-fluid job-section">

    <div class="row">
      <div class="twelve columns">
        <h3><span>Job</span> things</h3>
      </div>
    </div>
    
    <div class="row current">
      <div class="twelve columns">
        <h4>
          Lead Web Designer / Digital Art Director
          <span>9/13 – Present</span>
          <span>FoodServiceWarehouse.com</span>
          <span>Englewood, CO</span>
        </h4>
        <p>I am primarily responsible for UI design, HTML and CSS on the newly-rebuilt FSW.com, and the maintenance of the legacy site. I built the new version of FSW.com in Bootstrap and SASS to be fully responsive, created all mockups in Sketch, and aided developers with DOM manipulation in AngularJS. I provide technical leadership for other UI designers being the final work on HTML/CSS code reviews, acting as art director, and deciding what technologies and frameworks to use on new projects. I also lead a recent FSW rebranding effort designing the final logo and creating the current color scheme.</p>
      </div>
    </div>
    
    <div class="row past">
      <div class="twelve columns">
        <div class="accordion">
          
          <div>
            <h5>
              Web Designer <span>03/12 – 07/13</span>
              <span>Applus RTD</span>
            </h5>
            <p>I designed and developed all web interfaces for Applus RTD's internal training, invoicing, and record retention using Bootstrap, Golden Grid, and jQuery.</p>
          </div>
          
          <div>
            <h5>
              Art Director <span>02/10 - 02/12</span>
              <span>Coding Design, LLC</span>
            </h5>
            <p>I was the creative partner in a small startup that designed and developed iOS apps. Two of these apps were games featured in the App Store's "New and Noteworthy" section, one in "What's Hot" and the other in "What We're Playing."</p>
          </div>
          
          <div>
            <h5>
              Web Editor <span>02/07 - 02/10</span>
              <span>Scranton Gillette Communications</span>
            </h5>
            <p>I developed several micro-sites for company related trade shows and conven ons designed in Photoshop and built in HTML, CSS and Javascript.</p>
          </div>
          
          <div>
            <h5>
              Web Designer <span>12/05 - 01/07</span>
              <span>ICS Solutions</span>
            </h5>
            <p>I designed and built over 50 original small business websites using Photoshop, HTML, CSS and plugging in house-built VB modules. I created brand identities for small businesses by designing custom websites, logos, business cards and media kits. I also mentored new hires in web design.</p>
          </div>
          
        </div>
        
      </div>
    </div>
    
  </section>

  <!-- Education Section -->
  <section class="container-fluid education-section">

    <div class="row">
      <div class="twelve columns">
        <h3><span>Education</span> stuffs</h3>
      </div>
    </div>
    
    <div class="row">
      <div class="twelve columns">
        <h4>
          Illinois Institute of Art
          <span>Bachelor of Fine Arts</span>
          <span>Media Arts & Animation</span>
          <span>2006-2009</span>
        </h4>
      </div>
    </div>
    
  </section>

  <div class="container-fluid dual connect-credits">
    <div class="row">
    
      <section class="twelve columns connect-section">
        
        <div class="row">
          <div class="twelve columns">
            <h3>let's <span>Connect</span></h3>
          </div>
        </div>
        
        <div class="row">
          <div class="twelve columns">
            <ul class="list-inline">
              <li>
                <a href="http://www.linkedin.com/in/morganjeffrey">
                  <i class="i-linkedin"></i>
                </a>
                <span>My LinkedIn</span>
              </li>
              <li>
                <a href="http://www.behance.net/ajarat">
                  <i class="i-behanced"></i>
                </a>
                <span>My Behanced</span>
              </li>
              <li>
                <a href="http://github.com/Ajarat">
                  <i class="i-github"></i>
                </a>
                <span>My Github</span>
              </li>
              <li>
                <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                  <i class="i-rss"></i>
                </a>
                <span>Subscribe</span>
              </li>
              <li>
                <a href="mailto:morgan@ajarat.io">
                  <i class="i-send"></i>
                </a>
                <span>Email Me</span>
              </li>
            </ul>
          </div>
        </div>
        
      </section>
      
      <section class="twelve columns credits-section">
        
        <div class="row">
          <div class="twelve columns">
            <h3><span>Credit</span> due</h3>
          </div>
        </div>
        
        <div class="row">
          <div class="twelve columns">
            <ul class="list-unstyled">
              <li>
                <a href="http://jekyllrb.com/">Jekyll</a>
              </li>
              <li>
                <a href="http://github.com">Github</a>
              </li>
              <li>
                <a href="http://daringfireball.net/projects/markdown/">Markdown</a>
              </li>
              <li>
                <a href="http://liquidmarkup.org/">Liquid</a>
              </li>
              <li>
                <a href="http://fontcustom.github.io/fontcustom/">FontCustom</a>
              </li>
              <li>
                <a href="http://ionicons.com/">Ionicons</a>
              </li>
              <li>
                <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
              </li>
              <li>
                <a href="http://www.jeromes-pizza.com/">Pizza</a>
              </li>
              <li>
                <a href="javascript:randomlink()">Craft Beer</a>
              </li>
            </ul>
          </div>
        </div>
        
      </section>
    
    </div>
  </div>

</div>

<!-- Scripts -->
<script>{% include accordion.js %}</script>
<script>{% include random-link.js %}</script>

<!-- Footer -->
{% include footer.html %}

<!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->