---
layout: default
---

{% include header.html %}

<!-- Title Section -->
<section class="container title-section">

  <h1>
    <span>A</span>
    <span>j</span>
    <span>a</span>
    <span>r</span>
    <span>a</span>
    <span>t</span>
    <span>.</span>
    <span>i</span>
    <span>o</span>
  </h1>
  <h2>The portfolio of Morgan Jeffrey</h2>
  <button><i class="i-download-o"></i> My Resume</button>

</section>

<!-- Description Section -->
<section class="container description-section">

  <h3>I am a <span>Web Designer</span> and <span>UI Developer</span></h3>
  <p>Self-taught with 10+ years in the industry. Passionate about creating clean, vibrant, and user-friendly websites.</p>

</section>

<!-- Skills Section -->
<section class="container skills-section">

  <div class="row">
    <div class="twelve columns">
      <h3>mad <span>Skills</span></h3>
    </div>
  </div>
  
  <div class="row">
    <div class="four columns">
      {% include sass.svg %}
      <h4>CSS <span>/</span> Sass</h4>
    </div>
    <div class="one-half four columns">
      <i class="i-html5"></i>
      <h5>HTML</h5>
    </div>
    <div class="one-half four columns">
      {% include iphone.svg %}
      <h5>Responsive Design</h5>
    </div>
  </div>
  
  <div class="row">
    <div class="one-third columns">
      <i class="i-git"></i>
      <h6>Git</h6>
    </div>
    <div class="one-third columns">
      <i class="i-bootstrap"></i>
      <h6>Bootstrap</h6>
    </div>
    <div class="one-third columns">
      <i class="i-foundation"></i>
      <h6>Foundation</h6>
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <i class="i-circle"></i>
    </div>
  </div>
  
  <div class="row">
    <div class="one-half columns">
      <h6>UX Design</h6>
    </div>
    <div class="one-half columns">
      <h6>Art Direction</h6>
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <i class="i-circle"></i>
    </div>
  </div>
  
  <div class="row">
    <div class="one-third columns">
      <h6>Sketch</h6>
    </div>
    <div class="one-third columns">
      <h6>Illustrator</h6>
    </div>
    <div class="one-third columns">
      <h6>Photoshop</h6>
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <i class="i-circle"></i>
    </div>
  </div>
  
  <div class="row">
    <div class="one-third columns">
      <h6>Illustration</h6>
    </div>
    <div class="one-third columns">
      <h6>Graphic Design</h6>
    </div>
    <div class="one-third columns">
      <h6>Branding</h6>
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <i class="i-circle"></i>
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <p>Working on some:</p>
    </div>
    <div class="one-third columns">
      <h6>Angular</h6>
    </div>
    <div class="one-third columns">
      <h6>JavaScript</h6>
    </div>
    <div class="one-third columns">
      <h6>jQuery</h6>
    </div>
  </div>

</section>

<!-- Job Section -->
<section class="container job-section">

  <div class="row">
    <div class="twelve columns">
      <h3><span>Job</span> things</h3>
    </div>
  </div>
  
  <div class="row current">
    <div class="twelve columns">
      <h4>
        Lead Web Designer / Digital Art Director
        <span>9/13 – Present</span>
        <span>FoodServiceWarehouse.com</span>
        <span>Englewood, CO</span>
      </h4>
      <p>I am primarily responsible for UI design, HTML and CSS on the newly-rebuilt FSW.com, and the maintenance of the legacy site. I built the new version of FSW.com in Bootstrap and SASS to be fully responsive, created all mockups in Sketch, and aided developers with DOM manipula on in AngularJS. I provide technical leadership for other UI designers being the final work on HTML/CSS code reviews, ac ng as art director, and deciding what technologies and frameworks to use on new projects. I also lead a recent FSW rebranding effort designing the final logo and crea ng the current color scheme.</p>
    </div>
  </div>
  
  <div class="row past">
    <div class="twelve columns">
      <div class="accordion">
        
        <div>
          <h5>
            Web Designer <span>03/12 – 07/13</span>
            <span>Applus RTD</span>
          </h5>
          <p>I designed and developed all web interfaces for Applus RTD's internal training, invoicing, and record retention using Bootstrap, Golden Grid, and jQuery.</p>
        </div>
        
        <div>
          <h5>
            Art Director <span>02/10 - 02/12</span>
            <span>Coding Design, LLC</span>
          </h5>
          <p>I was the creative partner in a small startup that designed and developed iOS apps. Two of these apps were games featured in the App Store's "New and Noteworthy" section, one in "What's Hot" and the other in "What We're Playing."</p>
        </div>
        
        <div>
          <h5>
            Web Editor <span>02/07 - 02/10</span>
            <span>Scranton Gillette Communications</span>
          </h5>
          <p>I developed several micro-sites for company related trade shows and conven ons designed in Photoshop and built in HTML, CSS and Javascript.</p>
        </div>
        
        <div>
          <h5>
            Web Designer <span>12/05 - 01/07</span>
            <span>ICS Solutions</span>
          </h5>
          <p>I designed and built over 50 original small business websites using Photoshop, HTML, CSS and plugging in house-built VB modules. I created brand identities for small businesses by designing custom websites, logos, business cards and media kits. I also mentored new hires in web design.</p>
        </div>
        
      </div>
      
    </div>
  </div>
  
</section>

<!-- Education Section -->
<section class="container education-section">

  <div class="row">
    <div class="twelve columns">
      <h3><span>Education</span> stuffs</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <h4>
        Illinois Institute of Art
        <span>Bachelor of Fine Arts</span>
        <span>Media Arts & Animation</span>
        <span>2006-2009</span>
      </h4>
    </div>
  </div>
  
</section>

<div class="container dual">
  <div class="row">
  
    <section class="six columns connect-section">
      
      <div class="row">
        <div class="twelve columns">
          <h3>let's <span>Connect</span></h3>
        </div>
      </div>
      
      <div class="row">
        <div class="twelve columns">
          <a href="#">
            <i class="i-linkedin"></i>
          </a>
          <a href="#">
            <i class="i-behanced"></i>
          </a>
          <a href="#">
            <i class="i-github"></i>
          </a>
          <a href="#">
            <i class="i-rss"></i>
          </a>
          <a href="#">
            <i class="i-send"></i>
          </a>
        </div>
      </div>
      
    </section>
    
    <section class="six columns credits-section">
      
      <div class="row">
        <div class="twelve columns">
          <h3><span>Credit</span> due</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="twelve columns">
          <ul class="list-unstyled">
            <li>
              <a href="#">Jekyll</a>
            </li>
            <li>
              <a href="#">Github</a>
            </li>
            <li>
              <a href="#">Markdown</a>
            </li>
            <li>
              <a href="#">Liquid</a>
            </li>
            <li>
              <a href="#">Skeleton</a>
            </li>
            <li>
              <a href="#">FontCustom</a>
            </li>
            <li>
              <a href="#">Ionicons</a>
            </li>
            <li>
              <a href="#">Font Awesome</a>
            </li>
          </ul>
        </div>
      </div>
      
    </section>
  
  </div>
</div>

<!-- Accordion Functionality -->
<script>
  {% include accordion.js %}
</script>

{% include footer.html %}

<!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->