.blog {
  
  // Blog Styles
  
  h1 {
    margin-bottom: 0;
    font-size: 22px;
    text-align: center;
  }
  
  .header-img {
    margin: 0 (-($margin-large*2)) $margin-large*2;
  }
  
  a,
  a:visited {
    color: darken($brand-primary, 20%);
    
    &:hover {
      color: darken($brand-primary, 5%);
    }
    
  }
  
  .post-meta {
    font-size: $font-size-small;
    text-align: center;
    color: lighten(saturate($brand-dark, 10%), 10%);
  }
  
  
  // Blog Header
  
  header {
    background-color: lighten($brand-neutral, 4%);
    
    nav {
      
      ul.list-inline {
        
        li {
          margin: 0 7%;
        }
        
      }
      
      a,
      a:visited {
        color: lighten(saturate($brand-dark, 10%), 20%);
        
        &:hover,
        &:active,
        &:focus,
        &.active {
          color: darken(saturate($brand-dark, 15%), 5%);
        }
        
      }
      
    }
    
  }
  
  
  // Blog Footer
  
  footer.container-fluid {
    margin-top: $margin-large*2;
    background-color: lighten($brand-neutral, 4%);
    
    .columns {
      color: lighten(saturate($brand-dark, 10%), 20%);
      
      span {
        color: darken(saturate($brand-dark, 15%), 5%);
      }
      
    }
    
  }
  
}