.blog {
  
  // Archive Styles
  
  .archive {
    
    h1 {
      margin: $margin-large*2;
      font-size: $font-size-large+2;
      text-align: center;
      color: lighten(saturate($brand-dark, 10%), 30%);
      
      span {
        font-size: 32px;
        color: $brand-danger;
      }
      
    }
    
    h2 {
      margin-bottom: 0;
      font-size: $font-size-large;
      line-height: 1;
      
      a,
      a:visited {
        text-decoration: none;
        color: $brand-dark;
        
        &:hover {
          color: lighten($brand-dark, 10%);
        }
        
      }
      
    }
    
    li {
      margin-bottom: $margin-small*5;
    }
    
    .thumbnail {
      text-align: center;
      
      a {
        
        img {
          width: 100px;
          height: 100px;
          margin-bottom: $margin-large;
          border: 5px solid lighten($brand-neutral, 5%);
          border-radius: 100%;
          transition: border-color .8s;
        }
        
        &:hover {
          
          img {
            border-color: darken($brand-primary, 5%);
            transition: border-color .2s;
          }
          
        }
        
      }
      
    }
    
    p {
      margin-top: $margin-small;
      font-size: $font-size-small;
    }
    
    .post-meta {
      font-size: $font-size-small;
      text-align: center;
      color: lighten(saturate($brand-dark, 10%), 30%);
    }
    
    @include media-query($on-tablet) {
      
      h1 {
        margin: $margin-large*3;
        font-size: 26px;
        
        span {
          font-size: 40px;
        }
        
      }
      
      h2 {
        font-size: $font-size-large+2;
      }
      
      li {
        margin-bottom: $margin-large*3;
      }
      
      .thumbnail {
        
        a {
          
          img {
            width: 130px;
            height: 130px;
          }
          
        }
        
      }
      
      p {
        font-size: $font-size-base;
      }
      
    }
    
  }
  
  // Post Styles
  
  .post {
    
    h1 {
      margin-bottom: 0;
      font-size: 22px;
      text-align: center;
    }
    
    .header-img {
      margin: 0 (-($margin-large*2)) $margin-large*2;
    }
    
    a,
    a:visited {
      color: darken($brand-primary, 20%);
      
      &:hover {
        color: darken($brand-primary, 5%);
      }
      
    }
    
    .post-meta {
      font-size: $font-size-small;
      text-align: center;
      color: lighten(saturate($brand-dark, 10%), 10%);
    }
    
  }
  
  // Blog Header
  
  header {
    background-color: lighten($brand-neutral, 4%);
    
    nav {
      
      ul.list-inline {
        
        li {
          margin: 0 7%;
        }
        
      }
      
      a,
      a:visited {
        color: lighten(saturate($brand-dark, 10%), 20%);
        
        &:hover,
        &:active,
        &:focus,
        &.active {
          color: darken(saturate($brand-dark, 15%), 5%);
        }
        
      }
      
    }
    
  }
  
  
  // Blog Footer
  
  footer.container-fluid {
    position: fixed;
    bottom: 0;
    margin-top: $margin-large*2;
    background-color: lighten($brand-neutral, 4%);
    
    .columns {
      color: lighten(saturate($brand-dark, 10%), 20%);
      
      span {
        color: darken(saturate($brand-dark, 15%), 5%);
      }
      
    }
    
  }
  
}