// Header

header {
  background-color: darken($brand-primary, 3%);

  nav {
    text-align: center;
    
    ul.list-inline {
      margin: $margin-large auto;
      
      li {
        margin: 0 9%;
      }
      
    }
    
    a,
    a:visited {
      font-size: $font-size-base;
      text-decoration: none;
      color: lighten(saturate($brand-primary, 20%), 20%);
      
      &:hover,
      &:active,
      &:focus,
      &.active {
        text-decoration: none;
        color: #fff;
      }
      
    }
    
    @include media-query($on-phone) {
      
      nav {
        
        ul {
          
          li {
            margin: 0 4%;
          }
          
        }
        
        a {
          font-size: $font-size-base;
        }
        
      }
      
    }
    
    @include media-query($on-tablet) {
      
      a,
      a:visited {
        font-size: $font-size-large;
      }
      
    }
    
  }

}


// Footer

footer.container-fluid {
  padding: $padding-large 0;
  background-color: darken($brand-primary, 45%);
  
  .columns {
    font-size: $font-size-small;
    text-align: center;
    color: darken($brand-primary, 5%);
    
    span {
      color: lighten($brand-primary, 10%);
    }
    
  }
  
}