.resume {
  
  section,
  section.container-fluid {
    padding: $padding-large*6 $padding-large*2;
  }
  
  h3 {
    margin-bottom: $margin-large*3;
    font-size: $font-size-large;
    text-align: center;
    
    span {
      font-size: 32px;
    }
    
  }
  
  @include media-query($on-phone) {
    
    section,
    section.container-fluid {
      padding: $padding-large*8 $padding-large*2;
    }
    
    h3 {
      margin-bottom: $margin-large*4;
      font-size: 24px;
      
      span {
        font-size: 40px;
      }
      
    }
    
  }
  
}


// Title Section

.title-section {
  padding-top: 0;
  text-align: center;
  
  h1 {
    margin-top: $margin-large*6;
    margin-bottom: 0;
    font-size: 42px;
    letter-spacing: -2px;
    color: $brand-neutral;
  }
  
  h2 {
    margin-top: -($margin-small - 2);
    margin-bottom: $margin-large*12;
    font-size: $font-size-base;
    letter-spacing: 1px;
    color: darken($brand-primary, 35%);
  }
  
  @include media-query($on-phone) {
    
    h1 {
      margin-top: $margin-large*9;
      font-size: 50px;
    }
    
    h2 {
      margin-bottom: $margin-large*15;
      font-size: $font-size-large;
    }
    
  }
  
}


// Description Section

.description-section {
  background-color: $brand-neutral;
  text-align: center;
  
  h3 {
    margin-bottom: $margin-large*2;
    font-size: $font-size-base;
    color: lighten($brand-dark, 25%);
    
    span {
      display: block;
      margin: $margin-small 0;
      font-size: $font-size-large+4;
      
      &:first-child {
        color: darken($brand-primary, 20%);
      }
      
      &:last-child {
        color: $brand-success;
      }
      
    }
    
  }
  
  p {
    margin: 0;
    font-size: $font-size-large;
    color: lighten($brand-dark, 20%);
  }
  
  @include media-query($on-phone) {
    
    h3 {
      font-size: $font-size-large;
      
      span {
        font-size: 26px;
      }
      
    }
    
    p {
      font-size: $font-size-large+1;
    }
    
  }
  
}


// Skills Section

.skills-section {
  background-color: $brand-success;
  text-align: center;
  
  h4, h5, h6 {
    line-height: 1;
  }
  
  h3 {
    color: darken($brand-success, 20%);
    
    span {
      color: $brand-neutral;
    }
    
  }
  
  .sass-skills {
    width: 150px;
    height: 72px;
    
    .css3 {
      transition: all .8s;
      
      &:hover {
        fill: lighten($brand-success, 30%);
        transition: all .1s;
      }
      
    }
    
  }
  
  h4 {
    margin: $margin-small auto $margin-large*2.5;
    font-size: 24px;
    transition: color .8s;
    
    &:hover {
      color: lighten(saturate($brand-success, 30%), 15%);
      transition: color .1s;
    }
    
    span {
      color: lighten($brand-success, 15%);
    }
    
  }
  
  .i-html5 {
    font-size: 59px;
    line-height: 1.1;
    color: darken($brand-success, 20%);
  }
  
  .iphone-skills {
    width: 30px;
    height: 60px;
    
    .screen {
      transition: all 1s;
      
      &:hover {
        fill: $brand-neutral;
        transition: all .2s;
      }
      
    }
    
  }
  
  h5 {
    margin: $margin-small auto $margin-large*2.5;
    font-size: $font-size-base;
    transition: color .8s;
    
    &:hover {
      color: lighten(saturate($brand-success, 30%), 15%);
      transition: color .1s;
    }
    
  }
  
  li {
    margin: 0 5%;
  }
  
  h6 {
    margin-bottom: $margin-large*2.5;
    font-size: $font-size-small+1;
    transition: color .8s;
    
    &:hover {
      color: lighten(saturate($brand-success, 30%), 15%);
      transition: color .1s;
    }
    
  }
  
  p {
    margin-bottom: $margin-small;
    font-size: $font-size-base - 2;
    color: darken(saturate($brand-success, 30%), 25%);
  }
  
  .row:last-child {
    
    h6 {
      margin: 0;
    }
    
  }
  
  @include media-query($on-phone) {
    
    .sass-skills {
      width: 180px;
      height: 86px;
    }
    
    h4 {
      margin: $margin-small auto $margin-large*3.5;
      font-size: 26px;
    }
    
    .i-html5 {
      font-size: 65px;
    }
    
    .iphone-skills {
      width: 33px;
      height: 66px;
    }
    
    h5 {
      margin: $margin-small+3 auto $margin-large*3.5;
      font-size: $font-size-large+1;
    }
    
    .i-git,
    .i-bootstrap,
    .i-foundation {
      font-size: 40px;
    }
    
    h6 {
      margin-bottom: $margin-large*3.5;
      font-size: $font-size-base+1;
    }
    
    p {
      margin-bottom: $margin-small*3;
      font-size: $font-size-base;
    }
    
  }
  
}


// Job Section

.job-section {
  background-color: darken($brand-primary, 35%);
  
  h3 {
    color: $brand-primary;
    
    span {
      color: $brand-neutral;
    }
    
  }
  
  h4 {
    font-size: $font-size-large+2;
    color: saturate(lighten($brand-warning, 5%), 20%);
    
    span {
      
      &:first-child {
        display: inline-block;
        color: $brand-neutral;
      }
      
      &:nth-child(2) {
        display: block;
        font-size: $font-size-large;
        color: $brand-primary;
      }
      
      &:last-child {
        display: block;
        font-size: $font-size-large;
        color: darken($brand-primary, 15%);
      }
      
    }
    
  }
  
  p {
    line-height: 1.6;
  }
  
  .accordion.js {
    
    > * {
      margin-bottom: $margin-large;
      overflow: hidden;
      background-color: saturate(darken($brand-primary, 45%), 15%);
      border: 1px solid saturate(lighten($brand-primary, 5%), 10%);
      border-radius: 5px;
      color: saturate(lighten($brand-warning, 5%), 20%);
      transition: background .8s, border .8s;
      
      &:hover {
        background-color: saturate(darken($brand-primary, 50%), 15%);
        border: 1px solid saturate($brand-primary, 10%);
        transition: background .2s, border .2s;
      }
      
      p {
        margin-bottom: $margin-large;
        padding: 0 $margin-large+4;
        font-size: $font-size-small+1;
        line-height: 1.4;
        color: $brand-neutral;
      }
      
      &:not(.expanded) > *:not(h5) {
        max-height: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
      
      > h5 {
        margin-bottom: 0;
        padding: ($margin-large - 1) $margin-large+4;
        cursor: pointer;
        
        span {
          
          &:first-child {
            display: inline-block;
            font-size: $font-size-large;
            color: $brand-neutral;
          }
          
          &:last-child {
            display: block;
            font-size: $font-size-base;
            color: $brand-primary;
          }
          
        }
        
      }
      
      > *:not(h5) {
        transition: max-height .2s, margin .2s;
      }
      
    }
    
    .expanded {
      
      > *:not(h5) {
        max-height: auto;
      }
      
    }
    
  }
  
  @include media-query($on-phone) {
    
    .accordion.js {
      
      > * {
        
        > h5 {
          
          span {
            
            &:first-child {
              font-size: $font-size-base;
            }
            
            &:last-child {
              display: inline-block;
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
}


// Education Section

.education-section {
  background-color: $brand-warning;
  
  h3 {
    color: darken($brand-warning, 25%);
    
    span {
      color: $brand-neutral;
    }
    
  }
  
  h4 {
    margin-bottom: 0;
    font-size: $font-size-large+2;
    text-align: center;
    color: darken($brand-danger, 15%);
    
    span {
      display: block;
      
      &:first-child {
        color: $brand-neutral;
      }
      
      &:nth-child(2) {
        font-size: $font-size-large;
        color: saturate(lighten($brand-warning, 18%), 30%);
      }
      
      &:last-child {
        font-size: $font-size-base;
        color: darken($brand-danger, 5%);
      }
      
    }
    
  }
  
  @include media-query($on-phone) {
    
    h4 {
      font-size: 24px;
      
      span {
        
        &:nth-child(2) {
          font-size: $font-size-large+2;
        }
        
        &:last-child {
          font-size: $font-size-large;
        }
        
      }
      
    }
    
  }
  
}


// Connect/Credits Dual

@include media-query($on-tablet) {
  
  .connect-credits {
    display: table;
    width: 100%;
    height: 100%;
    
    > .row {
      display: table-row;
    }
    
    section {
      display: table-cell;
      width: 50% !important;
      margin: 0;
    }
    
  }
  
}


// Connect Section

.connect-section {
  background-color: $brand-neutral;
  text-align: center;
  
  h3 {
    color: desaturate(darken($brand-primary, 30%), 10%);
    
    span {
      color: $brand-danger;
    }
    
  }
  
  a {
    margin: 0 $margin-small;
    font-size: 55px;
    text-decoration: none;
    color: desaturate(darken($brand-primary, 30%), 10%);
    
    &:hover {
      color: darken($brand-primary, 15%);
    }
    
  }
  
}


// Credits Section

.credits-section {
  background-color: $brand-danger;
  
  h3 {
    color: darken($brand-danger, 30%);
    
    span {
      color: $brand-neutral;
    }
    
  }
  
  li {
    text-align: center;
  }
  
  a {
    color: saturate(lighten($brand-warning, 10%), 50%);
    
    &:hover {
      color: $brand-neutral;
    }
    
  }
  
  @include media-query($on-phone) {
    
    a {
      font-size: $font-size-large;
    }
    
  }
  
}